// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

#cardContainer {
    margin-top: 5%;
    display: grid;
    grid-auto-flow: column;
}

#filterAndButton {
    width: 100%;
}

#insertButton {
    width: auto;
    height: 35px;
    float: right;
}

#yearFilterInput {
    height: 35px;
}

#sticky-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 17%;
}

#githubImage{
    margin-bottom: 2%;
}

.alert-secondary {
    max-width: 250px;
}

.loginPasswordForm {
    position: absolute;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.btn-secondary,
.btn-dark {
    width: 120;
}

.container {
    margin-top: 10%;
    margin-bottom: 10%;
}

.card {
    border-radius: 5px;
    border-color: rgb(155, 155, 155);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 500px;
    overflow-x: scroll;
    word-wrap: break-word;
}

.submitButton {
    float: right;
}

table {
    text-align: center;
    margin-top: 15px;
}

select:required:invalid {
    border-color: red;
}

input:required:invalid {
    border-color: red;
}
