.container {
    margin-top: 10%;
    margin-bottom: 10%;
}

table {
    text-align: center;
}

.card-body {
    color: white;
}

.card {
    border-color: rgba(255, 255, 255, 0);
}

.row {
    margin: auto;
}

.filterAndTitle{
    display: grid;
    grid-auto-flow: column;

}
